.navbar {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 100%, rgba(2, 0, 36, 0.44861694677871145) 100%, rgba(2, 0, 36, 0) 100%);
    border-bottom: none;
    padding: 30px 0;
    transition-duration: 0.6s;
    a {
        color: #fff!important;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    }
}


/* jQuery Styles
===================================*/

.navbar-scroll {
    background: black;
    padding: 0;
    transition-duration: 0.9s;
    &.navbar-brand {
        margin-top: 0.9rem!important;
    }
    a {
        color: #fff;
    }
}

.nav-dropdown-scroll {
    background: #e7eaea;
    box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

.custom-btn {
    background-color: #6c757d !important;
    border-radius: 5px !important;
    &:hover {
        background-color: #e7eaea !important;
        transition-duration: 0.3s;
    }
}

.pt-6 {
    padding-top: 10%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}